.row-label {
    height: 400px;
    width: 130px;
    margin-left: 30px;
    background-color: rgba(0, 0, 0, 0.548);
    overflow: hidden;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

    .text {
        color: rgb(255, 254, 199);
        font-size: 42px;
        font-weight: bold;
        transform: rotate(-90deg);
        width: 400px;
        text-align: center;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }
}