// Imports
@import url('./assets/style/global.scss');
@import "./assets/style/variables";

.app {
    zoom: reset;
    display: flex;
    flex-direction: row;

    .waves {
        background-image: url('./assets/images/cityDrive.gif');
        width: calc(100vw - $navbar-width);
        margin-left: $navbar-width;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-top: 1px solid $bg-primary;
    }
}

body, ul {
    // Apparently this needs to be defined OUTSIDE of the app component in order to take effect
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}